@section styles {
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

}
@model ASI.Basecode.WebApp.Views.Report.ReportModel
@{
    ViewData["Title"] = "Report";
}

<h1>Report Page</h1>
<p>Welcome to the Report page!</p>
