@section styles {
    <link rel="stylesheet" href="~/css/dashboard.css" />
}
@{
    ViewData["Title"] = "Home Page";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Main Content Section -->
<div class="header" style="margin-top: 80px; margin-left: 90px;">
    <h1 style="color: #5A706C; font-weight:700; font-size:xx-large; color: #1A554F;">
        My Expenses
    </h1>
</div>
<div class="main-content" style="margin-top: 50px; background-color: #1A554F;">
    <div class="container">
        <div class="expenses">
            <canvas id="expensesChart"></canvas>
        </div>
        <div class="expense">
            <h2>Expenses</h2>
        </div>
    </div>
</div>


<script src="https://code.highcharts.com/dashboards/dashboards.js"></script>