@section styles {
<link rel="stylesheet" href="~/css/expenses.css" />
}
@model ASI.Basecode.Services.ServiceModels.ExpenseViewModel
@{
ViewData["Title"] = "ChangePassword";
}

<div class="main-content">
    <div class="row w-100 mx-auto">
        <div class="col-lg-6 d-flex p-0">   
            <div class="save preference">
                <img style="height:50px; padding-left: 70px; border-radius: 50%;" src="~/img/profile-logo.png" />                <label for="name">Name</label>
                <input type="text" id="name" value="Angel Arlene Siaboc"/>

                <label for="username">Username</label>
                <input type="text" id="username" value="aasiaboc"/>

                <label for="email">Email</label>
                <input type="email" id="email" value="angelsiaboc@gmail.com"/>

                <label for="currency">Default Currency:</label>
                <select id="currency">
                    <option>Php</option>
                    <option>USD</option>
                    <option>EUR</option>
                    <!-- Add more currencies as needed -->
                </select>

                <button class="button">Save Changes</button>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 d-flex align-items-center">
            <div class="col-lg-12">
                <h2>Change Password</h2>
                <label for="old-password">Old Password</label>
                <input type="password" id="old-password"/>

                <label for="new-password">New Password</label>
                <input type="password" id="new-password"/>

                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password"/>

                <a href="#" class="forgot-password">Forgot Password?</a>
                <button class="button">Change Password</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}