@section styles {
    <link rel="stylesheet" href="~/css/dashboard.css" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" /> <!-- Add Bootstrap CSS -->
}

@model IEnumerable<ASI.Basecode.Services.ServiceModels.SettingsViewModel>

<!-- Your view content here -->

@{
    ViewData["Title"] = "Settings";
}

<div>
    @await Html.PartialAsync("ChangePassword")
</div>
